div {
    font-family: 'Times New Roman', Times, serif;

}

.jumbotron {
    background-color: rgb(151, 226, 222);
    color: rgb(102, 86, 40);
    float: none;
}

#psyball {
    width: 200px;
    height: 200px;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }